.App {
  text-align: center;
}

.search{
  padding: 5rem 0 0;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.search-form{
  display: flex;
}
.search-input{
  width: 100%;

}
.search-input,.submit-btn{
  padding: 0.75rem 1.25rem;
  border: none;
  outline: none;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  background: transparent;
  color: #404040;
  border-bottom: 2px solid #333;
}
.search-input::placeholder{
  color: #333;
}
.photos{
padding: 5rem 0;
}
.photo-center{
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

